{% extends 'base.html' %}

{% block content %}
<div class="change-container">
  <h1>Change Password</h1>

  <!--Display success or fail message-->
  {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <li class="message {{ message.tags }}">{{ message }}</li>
          {% endfor %}
      </ul>
  {% endif %}

    <form method="POST" action="{% url 'changePassword' %}">
      {% csrf_token %}

      <!-- Old Password -->
      <div class="mb-3">
          <label for="old_password" class="form-label">Old Password</label>
          <input type="password" id="old_password" name="old_password" class="form-control" placeholder="Enter your old password" required>
      </div>

      <!-- New Password -->
      <div class="mb-3">
          <label for="new_password1" class="form-label">New Password</label>
          <input type="password" id="new_password" name="new_password1" class="form-control" placeholder="Enter new password" required>
        </div>
    
        <!-- Confirm New Password -->
        <div class="mb-3">
          <label for="new_password2" class="form-label">Confirm New Password</label>
          <input type="password" id="confirm_password" name="new_password2" class="form-control" placeholder="Confirm new password" required>
        </div>
    
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>
{% endblock %}