{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="home-page">
        <div class="text-center mt-5">
            {% if user.is_authenticated %}
                <h1>Welcome, {{ user.first_name }}!</h1>
                <div class="mt-3">
                    <a href="{% url 'uploadTranscript' %}" class="btn btn-primary me-2">Upload Transcript</a>
                </div>
                <div class="mt-3">
                    <a href="{% url 'chatHome' %}" class="btn btn-secondary">Open Messages</a>
                </div>
            {% else %}
                <h1>Hello WKU Students and Staff! Welcome to the WKU Advising Website!</h1>
                <p>Please sign in to start advising!</p>
                <div class="mt-3">
                    <a href="{% url 'login' %}" class="btn btn-primary me-2">Login</a>
                </div>
                <div class="mt-3">
                    <a href="{% url 'register' %}" class="btn btn-secondary">Sign Up</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
