{% extends 'base.html' %}
{% block content %}
<h1>{{ user.first_name}} {{user.last_name}}</h1>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="message {{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="POST" action="{% url 'update_profile' %}">
    {% csrf_token %}

    <!-- First Name -->
    <div class="mb-3">
        <label for="first_name" class="form-label">First Name</label>
        <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Enter new first name">
      </div>
  
      <!-- Last Name -->
      <div class="mb-3">
        <label for="last_name" class="form-label">Last Name</label>
        <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Enter new last name">
      </div>
  
      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Enter new email">
      </div>
  
      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary">Update</button>
      <p>Want to change your password?<a href="{% url 'changePassword' %}"> Change Password</a></p>
</form>
{% endblock %}