{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="register-container">
  <h2>Create Your Account</h2>

  <!--Display success or fail message-->
  {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <li class="message {{ message.tags }}">{{ message }}</li>
          {% endfor %}
      </ul>
  {% endif %}

  <form action="{% url 'register' %}" method="POST">
      {% csrf_token %}
      <p><span style="color: red;">*</span> Required fields</p>

      <div class="mb-3">
          <label for="first_name" class="form-label">First Name: <span style="color: red;">*</span></label>
          <input type="text" class="form-control" id="first_name" name="first_name" required>
      </div>
      <div class="mb-3">
          <label for="last_name" class="form-label">Last Name: <span style="color: red;">*</span></label>
          <input type="text" class="form-control" id="last_name" name="last_name" required>
      </div>
      <div class="mb-3">
          <label for="email" class="form-label">Email: <span style="color: red;">*</span></label>
          <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password: <span style="color: red;">*</span>
          <span id="passwordInfo" 
          style="
          display: inline-block;
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          border: 1px solid blue;
          border-radius: 50%;
          color: blue;
          font-weight: bold;
          cursor: pointer;
          font-size: 14px;
          margin-left: 5px;"
          onclick="showPassInfo()">?</span></label>
        <input type="password" class="form-control" id="password" name="password" 
        pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{9,}$"
        title="Password must be at least 9 characters long, including an uppercase letter, a number,
        and a special character." required>
    </div>
    <div class="mb-3">
      <label for="student_id" class="form-label">WKU Student ID: <span style="color: red;">*</span></label>
      <input type="text" class="form-control" id="student_id" name="student_id" pattern="\d{9}" 
      maxlength="9" minlength="9" title="Student ID must be exactly 9 digits." required>
    </div>

    <label for="degreeSelect">Select Degrees:(max of 6 degrees)</label>
    <div class="select2-wrapper">
      <select id="degreeSelect" name="degrees[]" multiple="multiple">
        {% for category, degrees in grouped_degrees.items %}
          <optgroup label="{{ category }}">
            {% for degree in degrees %}
              <option value="{{ degree.id }}">
                {{ degree.degree_name }} - Degree Reference Number: {{ degree.degree_number }}
                {% if degree.concentration %} - Concentration: {{ degree.concentration }} {% endif %}
              </option>
            {% endfor %}
          </optgroup>
        {% endfor %}
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Create Account</button>
  </form>

  <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="{% static '/register.js' %}"></script>
{% endblock %}
