{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  </head>

<body>
  <div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" src="https://www.wku.edu/marketingandcommunications/images/big-red2c.jpg" class="offline" alt="" />
          <p>Big Red!</p>
          {% comment %}
          <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
          <div id="status-options">
            <ul>
              <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
              <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
              <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
              <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
            </ul>
          </div>
          <div id="expanded">
            <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="mikeross" />
            <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="ross81" />
            <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="mike.ross" />
          </div>
          {% endcomment %}
        </div>
      </div>
      <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input type="text" placeholder="Search chats..." />
      </div>
      <div id="chats">
        <ul>
            {% for chat in chats %}
            {% if request.user.id in chat.members %}
            <li class="chat {% if chat.is_active %}active{% endif %}" data-chat-id="{{ chat.chat_id }}" onclick="setActiveChat(this)">
                <div class="wrap">
                    <img src="{{ chat.image_url }}" alt="{{ chat.name }}" />
                    <div class="meta">
                        <p class="name">{{ chat.name }}</p>
                        <p class="preview">{{ chat.last_message }}</p>
                    </div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
      <div id="bottom-bar">
        <button id="addchat"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add chat</span></button>
        <div id="chatPopup" class="modal" style="display: none;">
          <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Create New Chat</h2>
            <form id="newChatForm">
              {% csrf_token %}
              <label for="chatParticipants">Select Users:</label>
              <select id="chatParticipants" name="chatParticipants" multiple required>
                {% for user in users %}
                  <option value="{{ user.id }}">{{ user.get_full_name }}</option>
                {% endfor %}
              </select>
              <button type="submit">Create Chat</button>
            </form>
          </div>
        </div>
        <button id="home" onclick="window.location.href='{% url 'home' %}'"><i class="fa fa-home fa-fw" aria-hidden="true"></i> <span>Home</span></button>
      </div>
    </div>
    <div class="content">
      <div class="chat-profile">
        <img src="https://www.wku.edu/athletictraditions/images/redtowellogo.gif" alt="" />
        <p>WKU Advising Messages</p>
      </div>
      <div class="messages">
        <ul id="chat-log">
            <li class="sent">
            <img src="https://www.wku.edu/athletictraditions/images/redtowellogo.gif" alt="" />
            <p>Welcome to the WKU Advising Messaging System!</p>
          </li>
          <li class="replies">
            <img src="https://www.wku.edu/athletictraditions/images/redtowellogo.gif" alt="" />
            <p>Click on one of the contacts on the left scroll bar or add a new contact to start!</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

<script src="{% static 'main.js' %}"></script>
<script src="{% static 'reconnecting-websocket.js' %}"></script>
<script>
    var email = {{ email }};

    $(document).ready(function() {
      $('#chatParticipants').select2({
        placeholder: "Select users",
        allowClear: true
      });
    });

    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host + '/ws/chat/home/');

    chatSocket.onmessage = function(e) {
      var data = JSON.parse(e.data);
      if (data['command']  === 'new_chat'){
          var newChat = data['chat'];
          addChatToSidebar(newChat);
          setActiveChatById(newChat['chat_id'])
        }
    }

    function setActiveChat(clickedChat) {
      document.querySelectorAll('.chat').forEach(chat => {
        chat.classList.remove('active');
      });

      clickedChat.classList.add('active');

      let chat_id = clickedChat.getAttribute('data-chat-id');
      localStorage.setItem("activeChat", chat_id)

      window.location.href = `/chat/${chat_id}`;
    }

    document.addEventListener("DOMContentLoaded", function() {
      let savedActiveChat = localStorage.getItem("activeChat");
      let currentPath = window.location.pathname;

      if (currentPath === "/chat/") {
          document.querySelectorAll('.chat').forEach(chat => {
            chat.classList.remove("active");
          });
      } else if (savedActiveChat) {
          document.querySelectorAll('.chat').forEach(chat => {
              let chat_id = chat.getAttribute('data-chat-id')

              if (chat_id === savedActiveChat) {
                chat.classList.add("active");
              }
          });
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
      var addChatBtn = document.getElementById("addchat");
      var chatPopup = document.getElementById("chatPopup");
      var closeBtn = document.querySelector(".close");

      addChatBtn.addEventListener("click", function () {
        chatPopup.style.display = "block";
      });

      closeBtn.addEventListener("click", function () {
        chatPopup.style.display = "none";
      });

      window.addEventListener("click", function (event) {
        if (event.target === chatPopup) {
          chatPopup.style.display = "none";
        }
      });
    });

    function getSelectedMembers() {
      var selectedMembers = $('#chatParticipants').val();
      var selectedNames = $('#chatParticipants option:selected').map(function() {
        return $(this).text();
      }).get();

      console.log("Selected IDs:", selectedMembers);
      console.log("Selected Names:", selectedNames);

      return { 'ids': selectedMembers, 'names': selectedNames };
    }

    function openModal() {
      document.getElementById('chatPopup').style.display = 'block';
      document.documentElement.classList.add('modal-open');
      document.body.classList.add('modal-open');
    }

    function closeModal() {
      document.getElementById('chatPopup').style.display = 'none';
      document.documentElement.classList.remove('modal-open');
      document.body.classList.remove('modal-open');
    }

    document.querySelector('.close').addEventListener('click', closeModal);

    document.getElementById('newChatForm').addEventListener('submit', function (event) {
      event.preventDefault();
      chatMembers = getSelectedMembers();
      chatSocket.send(JSON.stringify({
        'command': 'new_chat',
        'chatMemberIDs': chatMembers['ids'],
        'chatMemberNames': chatMembers['names'],
        'createdBy': email
      }));
      closeModal();
    });

    function addChatToSidebar(newChat) {
        var chatList = document.querySelector('#chats ul');
        
        var newChatElement = document.createElement('li');
        newChatElement.classList.add('chat');
        newChatElement.setAttribute('data-chat-id', newChat['chat_id']);
        newChatElement.setAttribute('onclick', 'setActiveChat(this)');
        
        newChatElement.innerHTML = `
            <div class="wrap">
                <img src="${newChat['image_url']}" alt="${newChat['chat_name']}" />
                <div class="meta">
                    <p class="name">${newChat['chat_name']}</p>
                    <p class="preview">${newChat['last_message']}</p>
                </div>
            </div>
        `;

        chatList.insertBefore(newChatElement, chatList.firstChild);
    }

    function setActiveChatById(chat_id) {
        var chatElement = document.querySelector(`[data-chat-id="${chat_id}"]`);
        if (chatElement) {
            setActiveChat(chatElement);
        }
    }
</script>
</body>

</html>