{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  </head>

<body>
  <div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" src="{{ profile_picture }}" class="offline" alt="" />
          <p>{{ full_name|slice:"1:-1" }}</p>
          {% comment %}
          <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
          <div id="status-options">
            <ul>
              <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
              <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
              <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
              <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
            </ul>
          </div>
          <div id="expanded">
            <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="mikeross" />
            <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="ross81" />
            <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="mike.ross" />
          </div>
          {% endcomment %}
        </div>
      </div>
      <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input type="text" id="search-input" placeholder="Type the chat name and press enter to search..." />
      </div>
      <div id="chats">
        <ul>
            {% for chat in chats %}
            {% if request.user.id in chat.members %}
            <li class="chat {% if chat.is_active %}active{% endif %}" data-chat-id="{{ chat.chat_id }}" onclick="setActiveChat(this)">
                <div class="wrap">
                    <img src="{{ chat.image_url }}" alt="{{ chat.name }}" />
                    <div class="meta">
                        <p class="name">{{ chat.name }}</p>
                        <p class="preview">{{ chat.last_message }}</p>
                    </div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
      <div id="bottom-bar">
        <button id="addchat"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add chat</span></button>
        <div id="chatPopup" class="modal" style="display: none;">
          <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Create New Chat</h2>
            <form id="newChatForm">
              {% csrf_token %}
              <label for="chatParticipants">Select Users:</label>
              <div class="select2-wrapper">
                <select id="chatParticipants" name="chatParticipants" multiple required>
                  {% for user in users %}
                    <option value="{{ user.id }}">{{ user.get_full_name }}</option>
                  {% endfor %}
                </select>
                <button type="submit">Create Chat</button>
              </div>
            </form>
          </div>
        </div>
        <button id="home" onclick="window.location.href='{% url 'home' %}'"><i class="fa fa-home fa-fw" aria-hidden="true"></i> <span>Home</span></button>
      </div>
    </div>
    <div class="content">
      <div class="chat-profile">
        <img id="chat-image-display" alt="" />
        <p id="chat-name-display"></p>
      </div>
      <div class="messages">
        <ul id="chat-log">
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
        <input id="chat-message-input" type="text" placeholder="Write your message..." />
        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
        <button id="chat-message-submit" class="submit">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
        </div>
      </div>
    </div>
  </div>

<script src="{% static 'main.js' %}"></script>
<script src="{% static 'reconnecting-websocket.js' %}"></script>
<script>
    var email = {{ email }};
    var chat_id = {{ chat_id }};
    var full_name = {{ full_name }};

    $(document).ready(function() {
      $('#chatParticipants').select2({
        dropdownParent: $('#chatPopup'),
        placeholder: "Select users",
        allowClear: true
      });
    });

    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + chat_id + '/');

    chatSocket.onopen = function(e) {
        fetchMessages();
    };

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data['command'] === 'messages') {
          for (let i=0; i<data['messages'].length; i++) {
            createMessage(data['messages'][i]);
          }
        } else if (data['command'] === 'new_message'){
          createMessage(data['message']);
        } else if (data['command']  === 'new_chat'){
          var newChat = data['chat'];
          addChatToSidebar(newChat);
          setActiveChatById(newChat['chat_id'])
        } else if (data['command'] === 'filter_chats'){
          updateShownChats(data);
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.getElementById('chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'command': 'new_message',
            'message': message,
            'from': email,
            'chat_id': chat_id,
        }));

        messageInputDom.value = '';
    };

    function fetchMessages() {
        chatSocket.send(JSON.stringify({
          'command': 'fetch_messages',
          'chat_id': chat_id
        }));
    };

    var lastTimestamp = new Date();
    function createMessage(data) {
      var author = data['author'];

      var timestamp = new Date(data['date_sent'])

      var timeDiff = lastTimestamp ? Math.floor((lastTimestamp - timestamp) / 60000) : 0;
      var timeText = timeDiff > 0 ? `${timeDiff} min ago` : "Just now";

      var msgListTag = document.createElement('li');
      var imgTag = document.createElement('img');
      var messageContainer = document.createElement('div');
      var messageText = document.createElement('p');
      
      if (author === email) {
        msgListTag.className = 'sent';
        imgTag.src = '{{ profile_picture }}';
        messageText.innerHTML += "<strong>" + full_name + "</strong> <br>"
      } else {
        msgListTag.className = 'replies';
        imgTag.src = getProfilePicture(data['first_initial']);
        messageText.innerHTML += "<strong>" + data['author_name'] + "</strong> <br>"
      }

      messageText.innerHTML += data.content + '<br> <small>' + timeText + "</small>";

      messageContainer.appendChild(messageText);
      msgListTag.appendChild(imgTag);
      msgListTag.appendChild(messageContainer);
      document.querySelector('#chat-log').appendChild(msgListTag);
    };

    function updateShownChats(data) {
      var chatList = document.querySelector('#chats ul');
      chatList.innerHTML = "";

      data['chats'].forEach(chat => {
          var newChatElement = document.createElement('li');
          var activeChatId = localStorage.getItem("activeChat");

          newChatElement.classList.add('chat');
          newChatElement.classList.toggle('active', chat['id'] === Number(activeChatId));
          newChatElement.setAttribute('data-chat-id', chat['id']);
          newChatElement.setAttribute('onclick', 'setActiveChat(this)');

          chat['chat_name'] = chat['chat_name'].replace(full_name, "").replace(/^,|,$/g, "").replace(/\s*,\s*/g, ", ").trim();

          newChatElement.innerHTML = `
              <div class="wrap">
                  <img src="${getProfilePicture(chat['chat_name'].charAt(0).toLowerCase())}" alt="${chat['chat_name']}" />
                  <div class="meta">
                      <p class="name">${chat['chat_name']}</p>
                      <p class="preview">${chat['last_message'] || 'No messages yet'}</p>
                  </div>
              </div>
          `;

          chatList.appendChild(newChatElement);
      });
    }

    function setActiveChat(clickedChat) {
        let chat_id = clickedChat.getAttribute('data-chat-id');

        fetch(`/chat/check-membership/${chat_id}/`)
        .then(response => response.json())
        .then(data => {
          if(data.is_member) {
            let currentActiveChat = localStorage.getItem("activeChat");

            if (String(chat_id) === String(currentActiveChat)) {
                localStorage.removeItem("activeChat");
                window.location.href = "/chat/";
            } else {
                document.querySelectorAll('.chat').forEach(chat => {
                    chat.classList.remove('active');
                });

                clickedChat.classList.add('active');
                localStorage.setItem("activeChat", chat_id);
                window.location.href = `/chat/${chat_id}`;
            }
          } else {
            alert("You are not authorized to access this chat.");
          }
        })
        .catch(error => console.error("Error checking chat membership: ", error));
    }

    document.querySelector('#search-input').onkeyup = function(e) {
      var messageInputDom = document.getElementById('search-input');
      var message = messageInputDom.value;
      chatSocket.send(JSON.stringify({
          'command': 'search_chats',
          'email': email,
          'message': message,
      }));
    };

    document.addEventListener("DOMContentLoaded", function() {
      let savedActiveChat= localStorage.getItem("activeChat");

      if (savedActiveChat) {
          document.querySelectorAll('.chat').forEach(chat => {
              let chat_id = chat.getAttribute('data-chat-id');
              if (String(chat_id) === String(savedActiveChat)) {
                chat.classList.add("active");
              }
          });

          let activeChatElement = document.querySelector(`.chat[data-chat-id="${chat_id}"]`);
          if(activeChatElement){
            let chatName = activeChatElement.querySelector(".name").textContent;
            document.getElementById("chat-name-display").textContent = chatName;
            document.getElementById("chat-image-display").src = getProfilePicture(chatName.charAt(0).toLowerCase())
          }
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
      var addChatBtn = document.getElementById("addchat");
      var chatPopup = document.getElementById("chatPopup");
      var closeBtn = document.querySelector(".close");

      addChatBtn.addEventListener("click", function () {
        chatPopup.style.display = "block";
      });

      closeBtn.addEventListener("click", function () {
        chatPopup.style.display = "none";
      });

      window.addEventListener("click", function (event) {
        if (event.target === chatPopup) {
          chatPopup.style.display = "none";
        }
      });
    });

    function getSelectedMembers() {
      var selectedMembers = $('#chatParticipants').val();
      var selectedNames = $('#chatParticipants option:selected').map(function() {
        return $(this).text();
      }).get();

      console.log("Selected IDs:", selectedMembers);
      console.log("Selected Names:", selectedNames);

      return { 'ids': selectedMembers, 'names': selectedNames };
    }

    function openModal() {
      document.getElementById('chatPopup').style.display = 'block';
      document.documentElement.classList.add('modal-open');
      document.body.classList.add('modal-open');
    }

    function closeModal() {
      document.getElementById('chatPopup').style.display = 'none';
      document.documentElement.classList.remove('modal-open');
      document.body.classList.remove('modal-open');
    }

    document.querySelector('.close').addEventListener('click', closeModal);

    document.getElementById('newChatForm').addEventListener('submit', function (event) {
      event.preventDefault();
      chatMembers = getSelectedMembers();
      chatSocket.send(JSON.stringify({
        'command': 'new_chat',
        'chatMemberIDs': chatMembers['ids'],
        'chatMemberNames': chatMembers['names'],
        'createdBy': email
      }));
      closeModal();
    });

    function addChatToSidebar(newChat) {
        var chatList = document.querySelector('#chats ul');
        
        var newChatElement = document.createElement('li');
        newChatElement.classList.add('chat');
        newChatElement.setAttribute('data-chat-id', newChat['chat_id']);
        newChatElement.setAttribute('onclick', 'setActiveChat(this)');
        
        newChatElement.innerHTML = `
            <div class="wrap">
                <img src="${getProfilePicture(newChat['chat_name'].charAt(0).toLowerCase())}" alt="${newChat['chat_name']}" />
                <div class="meta">
                    <p class="name">${newChat['chat_name']}</p>
                    <p class="preview">${newChat['last_message']}</p>
                </div>
            </div>
        `;

        chatList.insertBefore(newChatElement, chatList.firstChild);
    }

    function setActiveChatById(chat_id) {
        var chatElement = document.querySelector(`[data-chat-id="${chat_id}"]`);
        if (chatElement) {
            setActiveChat(chatElement);
        }
    }

    function getProfilePicture(letter) {
      //Stored generic profile pictures
      const pictures = {
          "a": "https://static-00.iconduck.com/assets.00/a-letter-icon-512x512-j1mhihj0.png",
          "b": "https://static-00.iconduck.com/assets.00/b-letter-icon-512x512-90rzacib.png",
          "c": "https://static-00.iconduck.com/assets.00/c-letter-icon-512x512-6mbkqdec.png",
          "d": "https://static-00.iconduck.com/assets.00/d-letter-icon-512x512-r9lvazse.png",
          "e": "https://static-00.iconduck.com/assets.00/e-letter-icon-512x512-dt9oea54.png",
          "f": "https://static-00.iconduck.com/assets.00/f-letter-icon-512x512-xg6ht0dr.png",
          "g": "https://static-00.iconduck.com/assets.00/g-letter-icon-512x512-6pmz2jsc.png",
          "h": "https://static-00.iconduck.com/assets.00/h-letter-icon-512x512-x6qbinvo.png",
          "i": "https://static-00.iconduck.com/assets.00/i-letter-icon-512x512-dmvytbti.png",
          "j": "https://static-00.iconduck.com/assets.00/j-letter-icon-512x512-x0xc0g9u.png",
          "k": "https://static-00.iconduck.com/assets.00/k-letter-icon-512x512-7bxyhgb3.png",
          "l": "https://static-00.iconduck.com/assets.00/l-letter-icon-512x512-y3zwxhv2.png",
          "m": "https://static-00.iconduck.com/assets.00/m-letter-icon-512x512-dfiryt7g.png",
          "n": "https://static-00.iconduck.com/assets.00/n-letter-icon-512x512-52nch8s7.png",
          "o": "https://static-00.iconduck.com/assets.00/o-letter-icon-512x512-sj7vxh47.png",
          "p": "https://static-00.iconduck.com/assets.00/p-letter-icon-512x512-h5sw1to6.png",
          "q": "https://static-00.iconduck.com/assets.00/q-letter-icon-512x512-30ov2ad6.png",
          "r": "https://static-00.iconduck.com/assets.00/r-letter-icon-512x512-l2j45l27.png",
          "s": "https://static-00.iconduck.com/assets.00/s-letter-icon-512x512-a5ximws6.png",
          "t": "https://static-00.iconduck.com/assets.00/t-letter-icon-512x512-bg5zozzy.png",
          "u": "https://static-00.iconduck.com/assets.00/u-letter-icon-512x512-131g3vfy.png",
          "v": "https://static-00.iconduck.com/assets.00/v-letter-icon-512x512-hjcawsh7.png",
          "w": "https://static-00.iconduck.com/assets.00/w-letter-icon-512x512-1nemv88f.png",
          "x": "https://static-00.iconduck.com/assets.00/x-letter-icon-512x512-3xx065ts.png",
          "y": "https://static-00.iconduck.com/assets.00/y-letter-icon-512x512-ob5jvz98.png",
          "z": "https://static-00.iconduck.com/assets.00/z-letter-icon-512x512-puk3v0kb.png"
      };
      
      return pictures[letter.toLowerCase()];
    }
</script>
</body>

</html>