{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>

<body>
  <div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" src="https://www.wku.edu/marketingandcommunications/images/big-red2c.jpg" class="offline" alt="" />
          <p>Big Red!</p>
          {% comment %}
          <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
          <div id="status-options">
            <ul>
              <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
              <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
              <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
              <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
            </ul>
          </div>
          <div id="expanded">
            <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="mikeross" />
            <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="ross81" />
            <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="mike.ross" />
          </div>
          {% endcomment %}
        </div>
      </div>
      <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input type="text" placeholder="Search contacts..." />
      </div>
      <div id="contacts">
        <ul>
            {% for contact in contacts %}
            <li class="contact {% if contact.is_active %}active{% endif %}" onclick="setActiveContact(this)">
                <div class="wrap">
                    <img src="{{ contact.image_url }}" alt="{{ contact.name }}" />
                    <div class="meta">
                        <p class="name">{{ contact.name }}</p>
                        <p class="preview">{{ contact.last_message }}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
      <div id="bottom-bar">
        <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
        <button id="home" onclick="window.location.href='{% url 'home' %}'"><i class="fa fa-home fa-fw" aria-hidden="true"></i> <span>Home</span></button>
      </div>
    </div>
    <div class="content">
      <div class="contact-profile">
        <img src="https://www.wku.edu/athletictraditions/images/redtowellogo.gif" alt="" />
        <p>WKU Advising Messages</p>
      </div>
      <div class="messages">
        <ul id="chat-log">
            <li class="sent">
            <img src="https://www.wku.edu/athletictraditions/images/redtowellogo.gif" alt="" />
            <p>Welcome to the WKU Advising Messaging System!</p>
          </li>
          <li class="replies">
            <img src="https://www.wku.edu/athletictraditions/images/redtowellogo.gif" alt="" />
            <p>Click on one of the contacts on the left scroll bar or add a new contact to start!</p>
          </li>
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
        <input id="chat-message-input" type="text" placeholder="Write your message..." />
        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
        <button id="chat-message-submit" class="submit">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
        </div>
      </div>
    </div>
  </div>

<script src="{% static 'main.js' %}"></script>
<script src="{% static 'reconnecting-websocket.js' %}"></script>
<script>
    function setActiveContact(clickedContact) {
      document.querySelectorAll('.contact').forEach(contact => {
        contact.classList.remove('active');
      });

      clickedContact.classList.add('active');

      let username = clickedContact.querySelector('.name').textContent.trim();
      let firstName = username.split(" ")[0];

      localStorage.setItem("activeContact", firstName)

      window.location.href = `/chat/${firstName}`;
    }

    document.addEventListener("DOMContentLoaded", function() {
      let savedActiveContact = localStorage.getItem("activeContact");
      let currentPath = window.location.pathname;

      if (currentPath === "/chat/") {
          document.querySelectorAll('.contact').forEach(contact => {
              contact.classList.remove("active");
          });
      } else if (savedActiveContact) {
          document.querySelectorAll('.contact').forEach(contact => {
              let fullName = contact.querySelector('.name').textContent.trim();
              let firstName = fullName.split(" ")[0];

              if (firstName === savedActiveContact) {
                  contact.classList.add("active");
              }
          });
        }
    });
</script>
</body>

</html>