{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  </head>

<body 
  data-email = '{{ email }}'
  data-chat-id = '{{ chat_id }}'
  data-full-name = '{{ full_name }}'
  data-chats = '{{ edit_chat_list }}'>
  <div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" src="{{ profile_picture }}" class="offline" alt="" />
          <p><b>{{ full_name|slice:"1:-1" }}</b></p>
          {% comment %}
          <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
          <div id="status-options">
            <ul>
              <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
              <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
              <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
              <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
            </ul>
          </div>
          <div id="expanded">
            <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="mikeross" />
            <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="ross81" />
            <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="mike.ross" />
          </div>
          {% endcomment %}
        </div>
      </div>
      <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input type="text" id="search-input" placeholder="Type the chat name here to search..." />
      </div>
      <div id="chats">
        <ul>
        </ul>
    </div>
      <div id="bottom-bar">
        <button id="addchat"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add chat</span></button>
        <div id="chatPopup" class="modal-add-chat">
          <div class="modal-content-add-chat">
            <span class="close-add-chat">&times;</span>
            <h2>Create New Chat</h2>
            <form id="newChatForm">
              {% csrf_token %}
              <label for="chatParticipants">Select Users:</label>
              <div class="select2-wrapper">
                <select id="chatParticipants" name="chatParticipants" multiple required>
                  {% for user in users %}
                    <option value="{{ user.id }}">{{ user.get_full_name }}</option>
                  {% endfor %}
                </select>
                <button type="submit">Create Chat</button>
              </div>
            </form>
          </div>
        </div>
        <div id="delete-chat-popup" class="modal-delete-chat">
          <div class="modal-content-delete-chat">
            <span class="close-delete-chat">&times;</span>
            <h2>Delete Chats</h2>
            <form id="deleteChatForm">
              {% csrf_token %}
              <label for="chats">Select Chats to delete:</label>
              <div class="select2-wrapper">
                <select id="chatsToDelete" name="chatsToDelete" multiple required>
                  {% for chat in chats %}
                    <option value="{{ chat.chat_id }}">{{ chat.name }}</option>
                  {% endfor %}
                </select>
                <button type="submit">Delete Chats</button>
              </div>
            </form>
          </div>
        </div>
        <button id="home" onclick="window.location.href='{% url 'home' %}'"><i class="fa fa-home fa-fw" aria-hidden="true"></i> <span>Home</span></button>
      </div>
    </div>
    <div class="content">
      <div class="chat-profile">
        <img id="chat-image-display" alt="" />
        <p id="chat-name-display"></p>
        <button id = 'delete-chat' class="social-media">
          <p>Delete Chat:</p>
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
      <div class="messages">
        <ul id="chat-log">
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
        <input id="chat-message-input" type="text" placeholder="Write your message..." />
        <button id="chat-message-submit" class="submit">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
        </div>
      </div>
    </div>
  </div>

<script src="{% static 'main.js' %}"></script>
<script src="{% static 'reconnecting-websocket.js' %}"></script>
<script src="{% static 'room.js' %}"></script>
</body>

</html>