h1, h2, h3, p, a {
    font-family: Bebas Neue;
}

/*NavBar Styling*/
.navbar {
    padding-top: 13px;
    padding-bottom: 13px;
}

.navbar a, .nav-link{
    font-family: Bebas Neue;
}

/*Home Page Styling*/
.container {
    background: url('/static/css/images/WKU_Center_Campus.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}

/* Add the dark overlay */
.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

/* Ensure content appears above the overlay */
.container * {
    position: relative;
    z-index: 2;
}
  
.home-page h1 {
    padding: 25px;
    border-radius: 2px;
    font-family: 'Impact', 'Arial Black', sans-serif;
    margin-top: -10%;
}

.signed-in {
    font-size: 57px;
}

.signed-out {
    font-size: 50px;
}

.home-page p {
    padding: 25px;
    border-radius: 2px;
    font-size: 22px;
    font-family: Bebas Neue;
}

.home-page a {
    border-radius: 3px;
    font-family: Bebas Neue;
    background-color: #B01E24;
    border: #B01E24;
}

.home-page a:hover {
    background-color: #9A1A20;
    border: #9A1A20;
}

.language-form {
    position: absolute;
    bottom: 30px; 
    left: 120px;
    transform: translateX(-50%);
    text-align: center;
}

.language-form input[type="submit"] {
    background-color: #B01E24;
    border: #B01E24;
    font-family: Bebas Neue;
    color: white;
}

.language-form input[type="submit"]:hover {
    background-color: #9A1A20;
}

/*Login Page Styling*/
body.login .login-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(186, 31, 31, 0.33);
}

body.login main.container-fluid { /* Only style the main content, not the navbar */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Bebas Neue;
}

.login-container button{
    background-color: #B01E24;
    border: #B01E24;
}

.login-container button:hover{
    background-color: #9A1A20;
    border: #9A1A20;
}

/* Register Page Styling */
body.register .register-container {
    width: 100%;
    max-width: 500px;
    padding: 50px 30px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(186, 31, 31, 0.33);
}

body.register main.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Bebas Neue;
    padding: 50px 0;
}

.register-container button{
    background-color: #B01E24;
    border: #B01E24;
    margin-top: 10px;
}

.register-container button:hover{
    background-color: #9A1A20;
    border: #9A1A20;
}

/* Change Password Page Styling */
body.changePassword .change-container {
    width: 100%;
    max-width: 500px;
    padding: 50px 30px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(186, 31, 31, 0.33);
}

body.changePassword main.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Bebas Neue;
}

.change-container button{
    border-radius: 3px;
    background-color: #B01E24;
    border: #B01E24;
}

/* Upload Transcript Page Styling */
body.uploadTranscript .upload-container {
    width: 100%;
    max-width: 500px;
    padding: 50px 30px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(186, 31, 31, 0.33);
}

body.uploadTranscript main.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Bebas Neue;
}

.upload-container button{
    margin-top: 2%;
    border-radius: 3px;
    background-color: #B01E24;
    border: #B01E24;
}

.upload-container button:hover{
    background-color: #9A1A20;
    border: #9A1A20;
}
/* Profile Page Styling */
body.profile .profile-container {
    width: 100%;
    max-width: 500px;
    padding: 50px 30px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(186, 31, 31, 0.33);
}

body.profile main.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Bebas Neue;
    padding: 50px 0px;
}

.profile-container h1{
    font-family: Bebas Neue;
}

.profile-container button{
    margin-bottom: 2%;
    border-radius: 3px;
    background-color: #B01E24;
    border: #B01E24;
    margin-top: 2%;
}

.profile-container button:hover{
    background-color: #9A1A20;
    border: #9A1A20;
}

/*Footer Styling*/
footer.image-credit {
    width: 100%;
    background-color: #B01E24; 
    color: white;
    text-align: center;
    padding: 4px 0;
    font-size: 14px;
    position: relative; 
    margin: 0;
    font-family: Bebas Neue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer.image-credit a {
    color: white;
    text-decoration: underline;
}

footer.image-credit a:hover {
    color: #ffcccc; /* Lighter red when hovered */
}

.footer-center p{
    font-size: small;
    margin-bottom: 1px;
}

.footer-left {
    text-align: left;
    align-self: flex-start; 
    margin-bottom: 10px;
    width: 100%;
    padding-left: 2%;
}

.footer-left a {
    text-decoration: none !important;
}

.footer-left a:hover {
    text-decoration: underline !important; 
    color: #ffcccc;
}

.footer-links {
    list-style: none; 
    padding: 0;
    margin: 0;
}
.footer-links li {
    margin-bottom: 0px;
    font-size: small;
}

.footer-left h6 {
    margin-bottom: 6px;
    font-weight: bold;
}

/*Error formatting*/
.error-message {
    color: red;
    font-weight: bold;
}

/*Dropdown menu Styling*/
#degreeSearch {
    height: 60px;
    padding: 10px; 
    border-radius: 2px;
    width: 100%; 
    font-family: Bebas Neue;
}

.select2-wrapper .select2-container {
    width: 100% !important;
    box-sizing: border-box;
  }
  
  .select2-selection {
    position: relative;
    height: auto;
    min-height: 38px;
    padding-right: 2.25rem; 
  }
  
  .select2-container--default .select2-selection--single .select2-selection__clear {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }